## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [8]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [46]:
sample_list_1 = []
n = 0
for i in range (80):
    sample_list_1.append(n)
    n += 1

print(sample_list_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [47]:
set1 = set(sample_list_1)
print(len(set1))
print("yes hehe")

80
yes hehe

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [48]:
sample_list_2 = [random.randrange(0, 101, 1) for i in range(80)]
print(sample_list_2)

[24, 41, 34, 41, 88, 70, 99, 26, 77, 58, 29, 21, 26, 7, 51, 46, 17, 88, 33, 85, 26, 8, 63, 4, 23, 42, 5, 54, 25, 91, 45, 54, 62, 56, 34, 40, 66, 1, 21, 5, 98, 11, 27, 85, 48, 66, 80, 77, 99, 82, 43, 20, 27, 57, 59, 63, 95, 63, 13, 31, 11, 10, 17, 77, 77, 83, 46, 97, 49, 68, 35, 11, 96, 12, 10, 7, 99, 67, 29, 45]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [49]:
set2 = set(sample_list_2)
print(len(set2))
print("no hehe")

54
no hehe

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [50]:
set3 = set1.difference(set2)
print(len(set3))
print(set3)

37
{0, 2, 3, 6, 9, 14, 15, 16, 18, 19, 22, 28, 30, 32, 36, 37, 38, 39, 44, 47, 50, 52, 53, 55, 60, 61, 64, 65, 69, 71, 72, 73, 74, 75, 76, 78, 79}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [51]:
set4 = set2.difference(set1)
print(len(set4))
print(set4)

11
{96, 97, 98, 99, 80, 82, 83, 85, 88, 91, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [52]:
set5 = set1.intersection(set2)
print(len(set5))
print(set5)

43
{1, 4, 5, 7, 8, 10, 11, 12, 13, 17, 20, 21, 23, 24, 25, 26, 27, 29, 31, 33, 34, 35, 40, 41, 42, 43, 45, 46, 48, 49, 51, 54, 56, 57, 58, 59, 62, 63, 66, 67, 68, 70, 77}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [62]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))


print(f"The lenght of set 1 is {len(set1)}, set 2 is {len(set2)},set 3 is {len(set3)},set 4 is {len(set4)},set 5 is {len(set5)},")

#the elements shared by set 1 and set 2 (set 3) are equal to the lenght of set 5
#the elements not shared by set1 and set2 are equal to the sum of the lenght set3 and set 4

if len(set1) + len(set4) == len(set3) + len(set2):
    print("True")

80
54
37
11
43
The lenght of set 1 is 80, set 2 is 54,set 3 is 37,set 4 is 11,set 5 is 43,
True

#### Create an empty set called `set6`.

In [65]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [66]:
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79}

#### Check if `set1` and `set6` are equal.

In [67]:
if set6 == set1:
    print("They are equal")
else:
    print("They are not")

They are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [79]:

if set2.issubset(set1) is True:
    print("Set 1 is subset of set 2")
else:
    print("set 1 is no subset of set 2")


if set3.issubset(set1) is True:
    print("Set 1 is subset of set 3")
else:
    print("set 1 is no subset of set 3")

set 1 is no subset of set 2
Set 1 is subset of set 3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [83]:
firstset= set.union(set3, set4, set5)
print(firstset)

secondset =firstset.union(set1,set2)
print(secondset)

if firstset == secondset:
    print("They are equal")

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 85, 88, 91, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 85, 88, 91, 95, 96, 97, 98, 99}
They are equal

#### Using the `pop` method, remove the first element from `set1`.

In [84]:
set1.pop()
print(set1)
print("I have them already in order")

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [87]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)

print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78}